*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
}

/* GENERALE ********************************************* */


a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.color-green{
    color: #83b582;
}

.button-search{
    color: #ffffff;
    background-color: #83b582;
    border-radius: 30px;
    padding: 8px 25px;
    transition: 0.8s;
    border:  none;
    cursor: pointer;
}

.button-search:hover{
    color: #83b582;
    background-color: transparent;
    border-radius: 30px;
    padding: 8px 25px;
    transition: 0.8s;
    border: 2px solid #83b582;
}


/* NAVBAR ********************************************* */



.navbar-img{
    width: 50px;
}

.navbar-text{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #d6e4aa;
}

.navbar-toggler-button{
    background-color: #d6e4aa;
}

.nav li{
    display: block;
    padding: 15px 10px;
    list-style: none;
}

.nav li a{
    color: white;
    text-transform: capitalize;
    font-size: 19px;
    transition: 0.3s;
}

.nav li a:hover{
    color: #d6e4aa;
    transition: 0.3s;
}

.navbar-icon{
    width: 50px;
}

.color-text{
    color: #d6e4aa;
    font-weight: bold;
}


/* jQuery Styles */
.navbar-scroll {
	background: #232231;
	padding: 0;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
}
.nav-dropdown-scroll {
	background: #e7eaea;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}



/* SLIDE ********************************************* */


#slide{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero_bg_1.jpg');
    background-size: cover;
}

.slide-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.slide-content h2{
    color: white;
    margin-bottom: 45px;
    text-transform: capitalize;
}

.slide-content a {
    font-size: 22px;
    color: #ffffff;
    background-color: #83b582;
    border-radius: 30px;
    padding: 8px 25px;
    transition: 0.8s;

}

.slide-content a:hover {
	color: #83b582;
    background-color:transparent;
    border: 2px solid #83b582;
    transition: 0.8s;
}


/* SECTION-ONE ********************************************* */


#section-one{
    min-height: 450px;
}

.sectionOne-header{
    padding: 60px 0px
}

.divider-green{
    width: 200px;
    height: 3px;
    background-color: #83b582;
    margin: auto;
    border-radius: 20px;
}

.sectionOne-header h3{
    font-weight: bold;
    color: #83b582;
}

.one-circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #83b582;
    margin: 0 auto 15px;
    padding-top: 20px;
}



/* SECTION-TWO ********************************************* */



#section-two{
    /* min-height: 300px; */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/hero_bg_1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.sectionTwo{
    padding: 40px;
}
.sectionTwo h3{
    text-align: center;
    color: white;
    margin-bottom: 35px;
    font-weight: bold;
}

.forms label{
    color: #83b582;
    font-style: italic;
}

.sectionTwo-form{
    width: 80%;
    border-radius: 5px;
    border: none;
    padding: 7px;
}

.sectionTwo-form .option{
    background-color: #83b582;
}

